.searchOverlay {
  visibility: hidden;
}

.searchOverlayEnter {
  animation: fadeIn 0.2s ease-out forwards;
  visibility: visible;
}

.searchOverlayExit {
  animation: fadeOut 0.2s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}