.mask-fade {
  position: relative;
  mask-image: linear-gradient(to bottom, transparent, var(--text-color) 10%, var(--text-color) 90%, transparent);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: 0 0;
}
